@font-face {
  src: url('../assets/fonts/HelveticaNowDisplay-Medium.woff2')
    format('truetype');
  font-family: 'Helvetica Now Display';
  font-weight: 500;
}

@font-face {
  src: url('../assets/fonts/HelveticaNowDisplay-Regular.woff2')
    format('truetype');
  font-family: 'Helvetica Now Display';
  font-weight: 400;
}

@font-face {
  src: url('../assets/fonts/HelveticaNowDisplay-Bold.woff2') format('truetype');
  font-family: 'Helvetica Now Display';
  font-weight: 700;
}
